render/libs/
render/cmake/
render/CMakeFiles/
render/CMakeCache.txt
render/CMakeLists.txt
render/CPackConfig.cmake
render/CPackSourceConfig.cmake
render/cmake_install.cmake
render/Makefile
render/GOL3D
render/libs/

CMakeLists.txt
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
execute
GOL3D
output-files/*.txt
